<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item page</title>
</head>
<body>
    <a href = '/'>Домашняя /</a>
    <a href = '/items'>Список товаров /</a>
    <a href = '/about'>Об авторе</a><br><br>

    <strong>Наименование</strong>: <i>{{items.name}}</i><br>
    <strong>Бренд</strong>: <i>{{items.brand}}</i><br>
    <strong>Количество</strong>: <i>
        {% if items.count == 0 %}
            <i>Товар отсутствует.</i>
        {% else %}
            {{items.count}}</i><br> 
        {% endif %}
    <p><a href = '/items'> Назад к списку товаров</a></p>   
</body>
</html>


